body {
    text-align: center;
    background-color: rgb(237, 217, 217);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 span {
    color: red;
}

.level {
    margin: auto;
    padding-top: 20px;
    display: inline-block; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(182, 220, 145);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}

.level:hover {
    cursor: pointer;
    background-color: #3fc4f8;
}

img {
    height: 25px;
}

table {
    margin: auto;
    margin-top: 20px;
}

.cell {
    background-color: rgb(155, 205, 249);
    width: 40px;
    height: 40px;
}

.cell:hover {
    cursor: pointer;
}

h3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.game-over {
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}

.win {
    border-radius: 25px;
    margin: auto;
    display: none;
    width: 200px;
    height: 100px;
    background-color: rgb(248, 207, 112);
}

.smiley-button {
    padding: 25px;
    display: block;
    width: 50px;
    font-size: 35px;
    margin: auto;
}

.smiley-button:hover {
    cursor: pointer;
}

.hints {

    font-size: 25px;
}

.hints:hover {
    cursor: pointer;
}

.safe-clicks{
    margin: auto;
    background-color: aqua;
    width: 100px;
    height: 30px;
}
.safe-clicks:hover{
    cursor: pointer;
}