body {
    text-align: center;
    background-color: rgb(222, 206, 186);
}

.night-mode {
    margin-left: 2px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c3d8ab;
    width: 50px;
    height: 50px;
    text-align: center;
    color: rgb(249, 97, 97);
    margin-left: 5px;
    border-radius: 10%;
}

.night-mode:hover {
    cursor: pointer;
}

h2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 span {
    color: red;
}

.level {
    margin: auto 0;
    padding: 10px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8eb264;
    width: 150px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.level:hover {
    cursor: pointer;
    background-color: #3fc4f8;
}


img {
    height: 25px;
}

table {
    margin: auto;
    margin-top: 20px;
}

.cell {
    background-color: #9fcdf3;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

.cell:hover {
    cursor: pointer;
    background-color: #c8e6ff;
}

h3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.game-over {
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}

.win {
    left: auto;
    background-color: #d7e1ea;
    position: absolute;
    /* margin-top: 5px; */
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    padding: 10px 20px;
    transition: 2000ms;
}

.smiley-button {
    padding: 25px;
    display: block;
    width: 50px;
    font-size: 35px;
    border-radius: 50%;
    margin: auto;
    margin-top: 8px;
    transition: 1000ms;
}

.smiley-button:hover {
    background-color: #8eb264;
    cursor: pointer;
}

.hints {
    display: inline-block;
    font-size: 25px;
}

.hints:hover {
    cursor: pointer;
}

.safe-clicks {
    margin: auto 0;
    padding: 10px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8eb264;
    width: 150px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
.mega-hint {
    
    margin: auto 0px;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8eb264;
    width: 150px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.safe-clicks:hover {
    cursor: pointer;
    color: rgb(228, 210, 196);
}
.mega-hint:hover {
    cursor: pointer;
    color: rgb(228, 210, 196);
}

.game-rules {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.game-rules:hover{
    cursor: pointer;
    background-color: #c3d8ab;
}

.text{
    display: none;
    background-color: #d7e1ea;
    position: absolute;
    width: 150px;
    height: 600px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 20px;

}

